<div id="argos-main">
    <div class="row">
        <div class="navbar">
            <div class="inline">
                Domain
                <div id="combo_domain" class="combo">
                    <a class="btn small">Select...</a>
                    <a class="btn small toggle"><i class="icon-arrow2"></i></a>
                    <ul>
                        #foreach($domain in $domains)
                        <li value="$domain.sid">$domain.shortName</li>
                        #end
                    </ul>
                </div>
            </div>

            <div class="inline">
                <a id="btn_date" class="btn small"><span></span> <i class="icon-calendar"></i></a>
            </div>

            <div class="inline">
                <a id="btn_search" class="btn small"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>

    <div class="row chart-row">
        <div class="col col-3">
            <div id="selectbox_site"></div>
        </div>
        <div class="col col-9">
            <div id="chart_average"></div>
            <div id="slider_msg" style="color: #a9a9a9;">$i18n.range</div>
            <div id="slider" class="slider"></div>
            <div id="switch" class="group">
                <a class="btn mini">$i18n.type2</a>
                <a class="btn mini">$i18n.type1</a>
            </div>
        </div>
    </div>

    <div class="row">
        <table id="table_detail" class="table classic nowrap" style="margin-top: 15px;">
            <thead>
                <tr>
                    <th width="10%">Probe</th>
                    <th>Server</th>
                    <th>Front</th>
                    <th>Collection Time</th>
                    <th width="15%">Status</th>
                    <th>Received packet (byte)</th>
                    <th>Total Comp (calls)</th>
                    <th>Fail Comp (calls)</th>

                    <th>Response (ms)</th>
                    <th width="20%">Graph</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <script id="tpl_row" type="text/template">
            <tr>
                <td><!= equip_name !></td>
                <td>
                    <! if(tx_id_list.length > 0) { !>
                    <a href="javascript:showServerData(<!= row.index !>)">Details (<!= tx_id_list.length !>)</a>
                    <! } !>
                </td>
                <td>
                    <! if(tx_id_list.length > 0) { !>
                    <a href="javascript:showFrontData(<!= row.index !>)">Details</a>
                    <! } !>
                </td>
                <td><!= new Date(measure_time).format("HH:ss") !></td>
                <td><!= result_status_str !></td>
                <td align="right"><!= in_bytes.toLocaleForJennifer() !></td>
                <td align="right"><!= n_total_component.toLocaleForJennifer() !></td>
                <td align="right"><!= n_fail_component.toLocaleForJennifer() !></td>

                <td align="right"><!= resp_time.toLocaleForJennifer() !></td>
                <td><div id="inner_graph_<!= row.index !>" class="inner-graph"></div></td>
            </tr>
        </script>

        <script id="tpl_none" type="text/template">
            <tr>
                <td colspan="10" class="none" align="center">$i18n.msg2</td>
            </tr>
        </script>
    </div>

    <div id="datepicker" class="datepicker">
        <div class="head">
            <div class="prev"><i class="icon-chevron-left"></i></div>
            <div class="title"></div>
            <div class="next"><i class="icon-chevron-right"></i></div>
        </div>
        <table class="body">
            <tr>
                <th>SU</th><th>MO</th><th>TU</th><th>WE</th><th>TH</th><th>FR</th><th>SA</th>
            </tr>
        </table>
    </div>
    <script id="tpl_date" type="text/template">
        <td><!= date !></td>
    </script>

    <div id="table_detail_tooltip" class="tooltip left"><div class="anchor"></div><div class="message"></div></div>
</div>
<script>
    window.theme = "$user.themeName";
    window.message = {
        sitemap: "$i18n.sitemap",
        msg1: "$i18n.msg1"
    };
</script>